#post figure.highlight.js table::before {
  content: "js";
}
#post figure.highlight.javascript table::before {
  content: "javascript";
}
#post figure.highlight.python table::before {
  content: "python";
}
#post figure.highlight.ruby table::before {
  content: "ruby";
}
#post figure.highlight.xml table::before {
  content: "xml";
}
#post figure.highlight.html table::before {
  content: "html";
}
#post figure.highlight.css table::before {
  content: "css";
}
#post figure.highlight.perl table::before {
  content: "perl";
}
#post figure.highlight.sql table::before {
  content: "sql";
}
#post figure.highlight.coffeescript table::before {
  content: "coffeescript";
}
#post figure.highlight.java table::before {
  content: "java";
}
#post figure.highlight.scala table::before {
  content: "scala";
}
#post figure.highlight.kotlin table::before {
  content: "kotlin";
}
#post figure.highlight.c table::before {
  content: "c";
}
#post figure.highlight.c\+\+ table::before {
  content: "c\+\+";
}
#post figure.highlight.go table::before {
  content: "go";
}
#post figure.highlight.less table::before {
  content: "less";
}
#post figure.highlight.sass table::before {
  content: "sass";
}
#post figure.highlight.scss table::before {
  content: "scss";
}
#post figure.highlight.stylus table::before {
  content: "stylus";
}
#post figure.highlight.styl table::before {
  content: "styl";
}
#post figure.highlight.typescript table::before {
  content: "typescript";
}
#post figure.highlight.ts table::before {
  content: "ts";
}
#post figure.highlight.bash table::before {
  content: "bash";
}
#post pre,
.post-content pre,
#post .highlight,
.post-content .highlight {
  overflow: auto;
  margin: 12px 0;
  padding: 0;
  padding-top: 32px;
  background: #292d3e;
  color: #a6accd;
  font-size: 14px;
  line-height: 20px;
}
figure.highlight {
  position: relative;
}
figure.highlight table th,
figure.highlight table td {
  padding: 0 !important;
  border: 0 !important;
}
blockquote {
  margin: 0;
  padding: 0 8px;
  border-left: 2px solid $color-sub-theme;
  color: #6a737d;
}
#post pre,
.post-content pre,
#post code,
.post-content code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace, Helvetica Neue For Number !important;
}
#post code,
.post-content code {
  margin: 0 2px;
  padding: 1px 4px;
  background: $rgba-color;
  color: $color-font;
  word-wrap: break-word;
  font-size: 14px;
  vertical-align: bottom;
}
#post pre code,
.post-content pre code {
  padding: 0;
  background: none;
  color: #a6accd;
  text-shadow: none;
}
#post .highlight,
.post-content .highlight {
  position: relative;
  border-radius: 4px;
}
#post .highlight::after,
.post-content .highlight::after {
  position: absolute;
  top: 0;
  z-index: 0;
  min-width: 100%;
  height: 32px;
  background: #1f222f;
  content: "";
}
#post .highlight pre,
.post-content .highlight pre {
  margin: 0;
  padding: 8px 0;
  border: none;
}
#post .highlight .line::selection,
.post-content .highlight .line::selection {
  background: #717cb4;
  color: #a6accd;
}
#post .highlight table,
.post-content .highlight table {
  position: relative;
  margin: 0;
  width: auto;
  border: none;
}
#post .highlight table::before,
.post-content .highlight table::before {
  position: absolute;
  z-index: 1;
  display: inline-block;
  margin-top: -40px;
  padding: 0 8px;
  width: 50px;
  color: #a6accd;
  content: "Code";
  font-weight: bold;
  font-size: 8px;
  line-height: 32px;
}
#post .highlight table::after,
.post-content .highlight table::after {
  position: absolute;
  top: -40px;
  z-index: 0;
  width: 100%;
  height: 32px;
  background: #1f222f;
  content: "";
}
#post .highlight td,
.post-content .highlight td {
  padding: 0;
  border: none;
}
#post .highlight figcaption,
.post-content .highlight figcaption {
  margin-bottom: 12px;
  color: #a6accd;
  font-size: 12px;
  line-height: 12px;
}
#post .highlight figcaption a,
.post-content .highlight figcaption a {
  float: right;
  color: #a6accd;
}
#post .highlight figcaption a:hover,
.post-content .highlight figcaption a:hover {
  border-bottom-color: #a6accd;
}
#post .highlight .gutter pre,
.post-content .highlight .gutter pre {
  padding-right: 8px;
  padding-left: 8px;
  background-color: #292d3e;
  color: #3a3f58;
  text-align: right;
}
#post .highlight .code pre,
.post-content .highlight .code pre {
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  background-color: #292d3e;
}
#post .highlight .line,
.post-content .highlight .line {
  height: 12px;
}
#post .highlight .fa-clipboard,
.post-content .highlight .fa-clipboard {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1;
  color: $color-font;
  cursor: pointer;
  transition: $transition-delay;
}
#post .highlight .fa-clipboard:hover,
.post-content .highlight .fa-clipboard:hover {
  color: $color-theme;
}
#post .highlight .copy-notice,
.post-content .highlight .copy-notice {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 1;
  color: $color-theme;
  opacity: 0;
}
#post .gutter,
.post-content .gutter {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#post .gist table,
.post-content .gist table {
  width: auto;
}
#post .gist table td,
.post-content .gist table td {
  border: none;
}
#post pre .deletion,
.post-content pre .deletion {
  background: #008000;
}
#post pre .addition,
.post-content pre .addition {
  background: #800000;
}
#post pre .meta,
.post-content pre .meta {
  color: #c792ea;
}
#post pre .comment,
.post-content pre .comment {
  color: #676e95;
}
#post pre .comment::selection,
.post-content pre .comment::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .variable,
.post-content pre .variable,
#post pre .attribute,
.post-content pre .attribute,
#post pre .regexp,
.post-content pre .regexp,
#post pre .ruby .constant,
.post-content pre .ruby .constant,
#post pre .xml .tag .title,
.post-content pre .xml .tag .title,
#post pre .xml .pi,
.post-content pre .xml .pi,
#post pre .xml .doctype,
.post-content pre .xml .doctype,
#post pre .html .doctype,
.post-content pre .html .doctype,
#post pre .css .id,
.post-content pre .css .id,
#post pre .tag .name,
.post-content pre .tag .name,
#post pre .css .class,
.post-content pre .css .class,
#post pre .css .pseudo,
.post-content pre .css .pseudo {
  color: #ff5370;
}
#post pre .variable::selection,
.post-content pre .variable::selection,
#post pre .attribute::selection,
.post-content pre .attribute::selection,
#post pre .regexp::selection,
.post-content pre .regexp::selection,
#post pre .ruby .constant::selection,
.post-content pre .ruby .constant::selection,
#post pre .xml .tag .title::selection,
.post-content pre .xml .tag .title::selection,
#post pre .xml .pi::selection,
.post-content pre .xml .pi::selection,
#post pre .xml .doctype::selection,
.post-content pre .xml .doctype::selection,
#post pre .html .doctype::selection,
.post-content pre .html .doctype::selection,
#post pre .css .id::selection,
.post-content pre .css .id::selection,
#post pre .tag .name::selection,
.post-content pre .tag .name::selection,
#post pre .css .class::selection,
.post-content pre .css .class::selection,
#post pre .css .pseudo::selection,
.post-content pre .css .pseudo::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .tag,
.post-content pre .tag {
  color: #89ddff;
}
#post pre .tag::selection,
.post-content pre .tag::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .number,
.post-content pre .number,
#post pre .preprocessor,
.post-content pre .preprocessor,
#post pre .literal,
.post-content pre .literal,
#post pre .params,
.post-content pre .params,
#post pre .constant,
.post-content pre .constant,
#post pre .command,
.post-content pre .command {
  color: #f78c6c;
}
#post pre .number::selection,
.post-content pre .number::selection,
#post pre .preprocessor::selection,
.post-content pre .preprocessor::selection,
#post pre .literal::selection,
.post-content pre .literal::selection,
#post pre .params::selection,
.post-content pre .params::selection,
#post pre .constant::selection,
.post-content pre .constant::selection,
#post pre .command::selection,
.post-content pre .command::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .built_in,
.post-content pre .built_in {
  color: #ffcb6b;
}
#post pre .built_in::selection,
.post-content pre .built_in::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .ruby .class .title,
.post-content pre .ruby .class .title,
#post pre .css .rules .attribute,
.post-content pre .css .rules .attribute,
#post pre .string,
.post-content pre .string,
#post pre .value,
.post-content pre .value,
#post pre .inheritance,
.post-content pre .inheritance,
#post pre .header,
.post-content pre .header,
#post pre .ruby .symbol,
.post-content pre .ruby .symbol,
#post pre .xml .cdata,
.post-content pre .xml .cdata,
#post pre .special,
.post-content pre .special,
#post pre .number,
.post-content pre .number,
#post pre .formula,
.post-content pre .formula {
  color: #c3e88d;
}
#post pre .ruby .class .title::selection,
.post-content pre .ruby .class .title::selection,
#post pre .css .rules .attribute::selection,
.post-content pre .css .rules .attribute::selection,
#post pre .string::selection,
.post-content pre .string::selection,
#post pre .value::selection,
.post-content pre .value::selection,
#post pre .inheritance::selection,
.post-content pre .inheritance::selection,
#post pre .header::selection,
.post-content pre .header::selection,
#post pre .ruby .symbol::selection,
.post-content pre .ruby .symbol::selection,
#post pre .xml .cdata::selection,
.post-content pre .xml .cdata::selection,
#post pre .special::selection,
.post-content pre .special::selection,
#post pre .number::selection,
.post-content pre .number::selection,
#post pre .formula::selection,
.post-content pre .formula::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .keyword,
.post-content pre .keyword,
#post pre .title,
.post-content pre .title,
#post pre .css .hexcolor,
.post-content pre .css .hexcolor {
  color: #89ddff;
}
#post pre .keyword::selection,
.post-content pre .keyword::selection,
#post pre .title::selection,
.post-content pre .title::selection,
#post pre .css .hexcolor::selection,
.post-content pre .css .hexcolor::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .function,
.post-content pre .function,
#post pre .python .decorator,
.post-content pre .python .decorator,
#post pre .python .title,
.post-content pre .python .title,
#post pre .ruby .function .title,
.post-content pre .ruby .function .title,
#post pre .ruby .title .keyword,
.post-content pre .ruby .title .keyword,
#post pre .perl .sub,
.post-content pre .perl .sub,
#post pre .javascript .title,
.post-content pre .javascript .title,
#post pre .coffeescript .title,
.post-content pre .coffeescript .title {
  color: #82aaff;
}
#post pre .function::selection,
.post-content pre .function::selection,
#post pre .python .decorator::selection,
.post-content pre .python .decorator::selection,
#post pre .python .title::selection,
.post-content pre .python .title::selection,
#post pre .ruby .function .title::selection,
.post-content pre .ruby .function .title::selection,
#post pre .ruby .title .keyword::selection,
.post-content pre .ruby .title .keyword::selection,
#post pre .perl .sub::selection,
.post-content pre .perl .sub::selection,
#post pre .javascript .title::selection,
.post-content pre .javascript .title::selection,
#post pre .coffeescript .title::selection,
.post-content pre .coffeescript .title::selection {
  background: #717cb4;
  color: #a6accd;
}
#post pre .tag .attr,
.post-content pre .tag .attr,
#post pre .javascript .function,
.post-content pre .javascript .function {
  color: #c792ea;
}
#post pre .tag .attr::selection,
.post-content pre .tag .attr::selection,
#post pre .javascript .function::selection,
.post-content pre .javascript .function::selection {
  background: #717cb4;
  color: #a6accd;
}
